.form-label-error {
  max-width: 200px;
  color: $global-danger-background !important;
}

.error {
  border: 1px solid $global-danger-background !important;
}

.login-form {
  width: 300px;
}

.valid-style {
  fill: $global-success-background !important;
}

.valid-style:hover {
  fill: $success-hover !important;
}

.error-style {
  fill: $global-danger-background !important;
}