$global-primary-background: #178B9C;
$global-danger-background:#d32f2f;
$global-success-background:#43a047;
$success-hover:#1b5e20;
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "_competitions";
@import "_navbar";
@import "_league";
@import "_dashboard";
@import "_teams";
@import "_fields";
@import "_spinner";
$font-stack: sans-serif;
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: $font-stack;
}

.no-underline:hover {
  text-decoration: none !important;
}

.mdi-icon {
  fill: $global-muted-color;
}

.mdi-icon:hover {
  fill: $global-color;
}

@import "../../node_modules/uikit/src/scss/uikit-theme.scss";