html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.no-underline:hover {
  text-decoration: none !important
}

.error {
  border: 1px solid red;
}

.login-form {
  width: 300px
}

.valid-style {
  color: #43A047
}

.valid-style:hover {
  color: #1B5E20
}

.dashboard {
  margin-top: 3%;
}