html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: sans-serif;
}

.no-underline:hover {
  text-decoration: none !important;
}

.mdi-icon {
  fill: #999;
}

.mdi-icon:hover {
  fill: #666;
}