html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.no-underline:hover {
  text-decoration: none !important;
}

.dashboard {
  margin-top: 3%;
}

.mdi-icon {
  fill: #999;
}

.mdi-icon:hover {
  fill: #666;
}

.league-name {
  text-transform: capitalize;
}
